<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>
	<main id="users" layout:fragment="content">
		<article>
			<h2>利用者管理</h2>
			<th:block th:if="${errorList}">
			<ul class="error">
				<li th:each="error : ${errorList}" th:text="${error}"></li>
			</ul>
			</th:block>
			<table>
				<thead>
					<tr>
						<th>利用者ID</th>
						<th>利用者名</th>
						<th>連絡先電話番号</th>
						<th>連絡先メールアドレス</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody th:if="${users}">
					<tr th:each="user : ${users}">
						<td th:text="${user.id}"></td>
						<td th:text="${user.name}"></td>
						<td th:text="${user.phone}"></td>
						<td th:text="${user.email}"></td>
						<td>
							<a th:href="@{/user/{id}/edit(id=${user.id})}">更新</a>
							<a th:href="@{/user/{id}/delete(id=${user.id})}">削除</a>
						</td>
					</tr>
				</tbody>
			</table>
			<form class="form_user" action="/user/add" method="post">
				<div class="input">
					<label>利用者名</label>
					<input type="text" name="name" placeholder="利用者名"
					      th:value="${user.name}" />
				</div>
				<div class="input">
					<label>電話番号</label>
					<input type="tel" name="phone" placeholder="連絡先電話番号"
					       th:value="${user.phone}" />
				</div>
				<div class="input">
					<label>メール　</label>
					<input type="email" name="email" placeholder="連絡先メールアドレス"
					       th:value="${user.email}" />
				</div>
				<button th:unless="${buttonText}">利用者追加</button>
				<th:block th:if="${buttonText}">
					<button th:formaction="${'/user/' + user.id + '/edit'}" th:text="${buttonText}" formmethod="post"></button>
					<button formaction="/user/list" formmethod="get">キャンセル</a>
				</th:block> 
			</form>
		</article>
	</main>
</body>
</html>