@charset "utf-8";

#products {
	table {
		width: 255px;
	}
	.error {
		color: tomato;
		list-style-type: disc;
		margin: 0;
		padding: 0;
		li {
			margin: 0;
			padding: 0;
			margin-left: 20px;
		}
	}

	.input {
		width: fit-content;
		input {
			&::placeholder {
				color: gainsboro;
				font-size: small;
			}
			&[type="number"] {
				width: 73px;
			}
			&[type="text"] {
				width: 113px;
			}
		}
	}	
}
