@charset "utf-8";

#users{

	table{
		td {
			padding: 0 0.5rem;
			text-align: left;
			td:first-child {
				text-align: center;
			}
		}
	}

	.error {
		color: tomato;
		list-style-type: disc;
		margin: 0;
		padding: 0;
		li {
			margin: 0;
			padding: 0;
			margin-left: 20px;
		}
	}

	.input {
		margin: 0.75rem 0;
		&::placeholder {
			color: gainsboro;
		}
	}

}
