<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>製品貸出管理アプリ</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<style>
		body {
			color: dimgray;
		}
		table {
			border: 1px solid dimgray;
			border-collapse: separate;
		}
		th, td {
			margin: 0;
			padding: 0.125rem 0.375rem;
		}
		th {
			color: lightgray;
			background-color: dimgray;
		}
		td {
			text-align: center;
		}
		botton {
			color: dimgray;
		}
	</style>
</head>
<body>
	<h1>製品貸出管理アプリ</h1>
	<table border="0">
		<thead>
			<tr>
				<th>貸出番号</th>
				<th>利用者名</th>
				<th>利用状況</th>
				<th colspan="2">処理</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="loan : ${loans}">
				<td th:text="${loan.productSerial}"></td>
				<td th:text="${loan.userName}"></td>
				<td th:text="${loan.available ? '貸出可' : '貸出中'}"></td>
				<td>
					<form th:action="@{/api/rentals/rent}" method="post">
						<input type="hidden" name="id" th:value="${loan.id}" />
						<input type="hidden" name="productSerial" th:value="${loan.productSerial}" />
						<input type="hidden" name="userId" th:value="${loan.userId}" />
						<button type="submit" th:disabled="${!loan.available}">Rent</button>
					</form>
				</td>
				<td>
					<form th:action="@{/api/rentals/return}" method="post">
						<input type="hidden" name="id" th:value="${loan.id}" />
						<input type="hidden" name="productSerial" th:value="${loan.productSerial}" />
						<input type="hidden" name="userId" th:value="${loan.userId}" />
						<input type="hidden" name="lendDate" th:value="${loan.lendDate}" />
						<button type="submit" th:disabled="${loan.available}">Return</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
