<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>製品貸出管理アプリ</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<header>
		<h1>製品貸出管理アプリ</h1>
		<ol>
			<li><a th:href="@{/product/list}">製品マスタ</a></li>
			<li><a th:href="@{/user/list}">利用者管理</a></li>
		</ol>
	</header>
	<main>
		<article>
			<table border="0">
				<caption>製品貸出状況一覧</caption>
				<thead>
					<tr>
						<th>貸出番号</th>
						<th>利用者名</th>
						<th>利用状況</th>
						<th colspan="2">処理</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="rental : ${rentals}">
						<td th:text="${rental.productSerial}"></td>
						<td th:text="${rental.userName}"></td>
						<td th:text="${rental.available ? '貸出可' : '貸出中'}"></td>
						<td>
							<form th:action="@{/rentals/rent}" method="post">
								<input type="hidden" name="id" th:value="${rental.id}" />
								<input type="hidden" name="productSerial" th:value="${rental.productSerial}" />
								<input type="hidden" name="userId" th:value="${rental.userId}" />
								<button type="submit" th:disabled="${!rental.available}">貸出</button>
							</form>
						</td>
						<td>
							<form th:action="@{/rentals/return}" method="post">
								<input type="hidden" name="id" th:value="${rental.id}" />
								<input type="hidden" name="productSerial" th:value="${rental.productSerial}" />
								<input type="hidden" name="userId" th:value="${rental.userId}" />
								<input type="hidden" name="lendDate" th:value="${rental.lendDate}" />
								<button type="submit" th:disabled="${rental.available}">返却</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
			<th:block th:if="${productSerial != null and userId == nul}">
				<form>
					<div>
						<label>製品管理番号：</label>
						<span th:text="${productSerial}"></span>
					</div>
					<div>
						<lable>利用者：</lable>
						<select name="userId">
							<option th:each="user : ${userList}" th:text="${user.name}" th:value="${user.id}"></option>
						</select>
						<input type="hidden" name="id" th:value="${id}" />
						<input type="hidden" name="productSerial" th:value="${productSerial}" />
						<button th:formaction="@{/rentals/rent}" formmethod="post">貸出</button>
					</div>
				</form>
			</th:block>
		</article>
	</main>
	<footer>
		<div id="copyright">&copy; 2024 Crab Bean Band.</div>
	</footer>
</body>
</html>
